[submodule "diffTech"]
	path = diffTech
	url = https://github.com/hy3440/diffTech
[submodule "mining_analogous_libraries"]
	path = mining_analogous_libraries
	url = https://github.com/cjxuan1995/mining_analogous_libraries
